mixin standForm()
	form(action="")
	input(type="text" name="vname" placeholder="Введите имя" required)
	input(type="text" name="vphone" placeholder="Введите телефон" required)
	input(type="text" name="vmail" placeholder="Ваш E-mail" required)
	button(name="submit-button" type="submit") Отправить

mixin scm(sectionName, type="section")
	#{type}(class=`${sectionName}`)&attributes(attributes)
		.content
				block		

mixin hcm(sectionName, type="header")
	#{type}(class=`${sectionName}`)&attributes(attributes)
		.content
			.row
				block

mixin links(links)
		for item in links
			li
				a(href=`${item.link}`)!= item.txt

mixin img(src, alt="")
	img(src=`${src}` alt=`${alt}`)

mixin printIcons(classIcon)
	i(class=`#{classIcon}`)

mixin printItems(listItems, nameItem)
	for item in listItems
		.col-mm
			div(class=`item-${nameItem}`)
				.b-img
					img(src=`img/${item.img}`)
				h3 !{item.title}
				.b-txt !{item.txt}




//- Examples
mixin menu(items)
	ul
		each item in items
			li: a(href="#") #{item}

mixin menu1(linkItem)
	ul
		for item in linkItem
			li
				a(href=item.link).navItem= item.name

mixin name(name)
	ul
		li= name

//- Проверка наличия содержимого - if block
mixin new(title)
	.new-text
		if block
			block
		else
			p Новость пустая